name: Go

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build_and_test:
    strategy:
      matrix:
        goversion:
          # The first entry of the matrix should be the
          # version indicated inside the `go.mod`
          - "1.24"
          - "1.25"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "${{ matrix.goversion }}"

      - name: Build
        run: go build ./...
